LLM_API_KEY=在这里填入你的 API Key
LLM_BASE_URL=在这里填入你的 API 地址
LLM_MODEL=在这里填入你的模型名称

#下面这个配置是测试技术有效性时，使用的API Key和API 地址，以及模型名称  
#如果你不打算测试技术有效性，可以不配置
EVAL_API_KEY=在这里填入你的 API Key
EVAL_BASE_URL=在这里填入你的 API 地址
EVAL_MODEL=在这里填入你的模型名称
